.sao{
	color: brown;
}
.navbar-default .navbar-nav>li>a{
	letter-spacing: 2.9px;
    text-transform: uppercase;

}

.navbar-default .navbar-nav>li>a:hover {
    color: green;
}

nav.navbar.navbar-default {
    height: 80px;
    padding-top: 10px;
}
.navbar-brand{
	font-weight: bold;
}
.xanh {
	background-color: #1abc9c;
	padding-top: 80px;
	color: #fff;
}
.xanh h3{
	padding-top: 38px;
	font-weight: bold;
	padding-bottom: 40px;
}
.xam{
	background-color: #474e5d;
	color: #fff;
	padding-bottom: 67px;
	padding-top: 70px;
}
.xam p{
	font-size : 18px;
	padding-top: 49px;
	padding-bottom: 10px;
}
.xam .btn-default {
	font-size: 20px;
	padding: 8px 25px;
}
.find h2{
	padding-top: 50px;
	padding-bottom: 80px;
	font-weight: bold;
}
.container-fluid.text-center.find{
	padding-top: 50px;
    padding-bottom: 50px;
}
.container-fluid.den.text-center{
	background-color: #333333;
	color: #fff;
	padding-top: 50px;
    padding-bottom: 50px;
}
.container-fluid.den.text-center p{
	
}
.fa.fa-youtube-play:hover{
	color: red;
}